@model IEnumerable<SportLeague.Models.Player>

@{
    ViewData["Title"] = "Division Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h4>@Html.DisplayNameFor(model => model.name)</h4>
    <ul>
        @foreach (var playerItem in Model)
        {
            <li>@Html.DisplayFor(modelItem => playerItem.name) | @Html.ActionLink("Details", "Details", new { id = playerItem.playerId }) | @Html.ActionLink("Delete", "Delete", new { id = playerItem.playerId })| @Html.ActionLink("Edit", "Edit", new { id = playerItem.playerId }) </li>

        }
    </ul>
<p>@Html.ActionLink("Add new player", "Create") </p>
